.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #2c2c4e;
    margin:0px auto;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.jumbotron{
    padding: 20px;
    background-color: #FFFF;
}


.navbar-dark {
    background-color: #2c2c4e;
}
#withlove {
    color: #FFFF;
}

#home {
    margin: 20px;
    padding: 20px;
}